p.intro{
	width:50%;
	font-style: italic;
}
p.end{
	width:75%;
	font-style:italic;
	font-weight:bold;
}

.potato{
	color:blue;
}

.here{
	font-size:30px;
}

.about{
	float:right;
	color:yellow;
	background-color: green;
}